{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="login">
        <h1>Login</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">

                {{ form | crispy }} {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"> {% endif %}

                <input class="btn btn-primary" type="submit" value="login">

            </div>



        </form>


    </div>
</div>

{% endblock %}
